= simple_form_for [:dashboard, @vendor, @material], input_html: { multipart: true } do |f|
  = f.input :name
  = f.input :code
  = f.input :price, as: :number
  = f.input :icon, as: :file
  = f.submit f.object.persisted? ? "修改" : "增加", class: 'btn btn-primary btn-default'

