= simple_form_for [:dashboard, @entity], html: { class: 'form-horizontal', multipart: true }  do |f|
  .col-md-12
    = f.select :category_id, options_from_collection_for_select(Category.all, 'id', 'name', f.object.category_id), label: "模型分类"
  .col-md-12
    = f.input :name, class: 'uk-from-large ckeditor', label: '模型名称'
    (确保名称和SU模型内部名称一致)
  .col-md-12
    = f.input :skp_file, label: '模型文件'
  .col-md-12
    = f.submit f.object.persisted? ? "修改" : "增加", class: 'btn btn-primary btn-default'

