%ul.list-inline.bg-info.label_bg
  %li
    %h4
      %label.label.label-bg{class: 'label-success' }
        = link_to "全部", dashboard_entities_path
  - Category.all.each do |category|
    %li
      %h4
        %label.label{class: cycle('label-warning') }
          = link_to category.name, dashboard_entities_path(category_id: category.id)

- if Tag.count > 0
  %ul.list-inline.bg-warning.label_bg
    %li
      %label.label{class: 'label-success' }
        = link_to "全部", dashboard_entities_path
    - Tag.all.each do |tag|
      %li
        %label.label{class: cycle('label') }
          = link_to tag.name, dashboard_entities_path(tag_id: tag.id)


- if Style.count > 0
  %ul.list-inline.bg-warning.label_bg
    %li
      %label.label{class: 'label-success' }
        = link_to "全部", dashboard_entities_path
    - Style.all.each do |style|
      %li
        %label.label{class: cycle('label') }
          = link_to style.name, dashboard_entities_path(style_id: style.id)

= link_to gly_icon(:plus) + "上传模型", new_dashboard_entity_path, class: 'btn btn-primary pull-right'

.row
%hr

%table.table
  %thead
    %th ID
    %th 文件夹
    %th 模型名
    %th 上传时间
    %th 是否可见
    %th
  %tbody
    - @entities.each do |v|
      %tr
        %td= link_to v.id, edit_dashboard_entity_path(v)
        %td= link_to v.category.try(:name), dashboard_entities_path(category_id: v.category_id)
        %td= v.name
        %td= v.created_at.to_s(:cn_short_normal)
        %td
          = check_box_tag "visible", v.visible, v.visible, class: 'toggle_visible', data: { entity_id: v.id }
        %td
          = link_to gly_icon(:pencil), edit_dashboard_entity_path(v)
          = link_to gly_icon(:remove), dashboard_entity_path(v), method: :delete, data: { confirm: "删除此模型？" }

= paginate @entities


:javascript
  $(document).ready(function() { $('.toggle_visible').change(
    function(){
      $.ajax({
        url: "/dashboard/entities/" + $(this).data('entity-id') + "/toggle_visible",
        method: 'PATCH'
      })
    }
  );});
