.container
  .nav.navbar
    .nav-header
      = image_tag "logo.png", style: "height: 30px"
      - if user_signed_in?
        = link_to "退出登录", session_path, method: :delete, class: "btn btn-danger btn-sm pull-right"
        - if params[:controller] == "welcome"
          = link_to gly_icon(:desktop) + "我的后台", dashboard_path, data: { 'no-turbolink': true }, class: "btn btn-default btn-sm pull-right"
        - else
          = link_to gly_icon(:home) + "回到首页", root_path, class: "btn btn-default btn-sm pull-right"

      - else
        = link_to "登录", new_session_path, data: { 'no_turbolink': true }, class: 'btn btn-default btn-sm', role: 'button'
        = link_to "注册", new_registration_path, data: { 'no_turbolink': true },class: 'btn btn-warning btn-sm'
