= link_to gly_icon(:plus) +"新用户", new_dashboard_user_path(admin: true), {"class" => 'btn btn-default btn-primary'}

%table.table
  %thead
    %th ID
    %th Email
    %th 可见？
    %th 账户类型
    %th
  %tbody
    - @users.each do |u|
      %tr
        %td= link_to u.id, edit_dashboard_user_path(u)
        %td
          = link_to u.email, edit_dashboard_user_path(u)
        %td
          = u.visible? ? "是" : "否"
          = check_box_tag "visible", u.visible, u.visible, class: 'toggle_visible', data: { user_id: u.id }
        %td
          - u.roles_in_words.map do |r|
            .uk-badge= r

= paginate @users


:javascript
  $(document).ready(function() { $('.toggle_visible').change(
    function(){
      $.ajax({
        url: "/dashboard/users/" + $(this).data('user-id') + "/toggle_visible",
        method: 'PATCH'
      })
    }
  );});

