= simple_form_for [:dashboard, @vendor] do |f|
  = f.input :name, label: "名称"
  = f.input :tel, label: "电话"
  = f.input :address, label: "地址"
  = f.input :short_desc, label: "描述"
  = f.input :desc
  = f.submit f.object.persisted? ? "修改" : "增加", class: 'btn btn.primary btn-default'
