%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title= Setting.cn_name
    = stylesheet_link_tag    'dashboard', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'dashboard', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %nav.nav.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          = link_to Setting.cn_name, root_path, class: 'navbar-brand'

        %ul.navbar-nav.nav.pull-right
          %li= link_to current_user.identity, dashboard_user_path(current_user)
          %li= link_to "退出", session_path, method: :delete

    .container-fluid.main_content
      .row
        .col-md-2.sidebar
          %ul.nav.nav-sidebar
            %li{class: nav_li_class('entities') }
              = link_to gly_icon(:film) + "系统模型", dashboard_entities_path
            %li{class: nav_li_class('users') }
              = link_to gly_icon(:user) + "用户列表", dashboard_users_path
            %li{class: nav_li_class('materials') }
              = link_to "材料列表", dashboard_materials_path
            %li{class: nav_li_class('vendors') }
              = link_to "材料商", dashboard_vendors_path
            %li
              = link_to gly_icon(:asterisk) + "设置", dashboard_setting_path

          %ul.nav.nav-sidebar
            %li.active

        .col-md-10.col-md-offset-2.main_content
          = render :partial => "layouts/message"
          = yield
