!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title 构建中国
    = stylesheet_link_tag    'website', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'website', 'data-turbolinks-track' => false
    = csrf_meta_tags
  %body
    = render :partial => "widgets/header"
    = yield

